<%layout('../layouts/boilerplate.ejs')-%>
<div class="row offset-md-3">
    
    <h3>Create a new listing:</h3>
    <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3 col-md-7">
                <label for="title" class="form-label">Title:</label>
                <input id="title" class="form-control" type="text" name="listing[title]" placeholder="Royal palace" required>
                <div class="valid-feedback">
                That's a wonderful title!
                </div>
            </div>
            <div class="mb-3 col-md-7">
                <label for="country" class="form-label">Description:</label>
                <textarea id="country" class="form-control" name="listing[description]" cols="30" rows="10" placeholder="Tell us more..." required></textarea>
                <div class="invalid-feedback">
                    Description required!
                </div>
            </div>
            <div class="mb-3 col-md-7">
                <label for="image" class="form-label">Upload an Image:</label>
                <input id="image"class="form-control" type="file" name="listing[image]" required>
                <div class="invalid-feedback">
                    It's better if you provide an image Url...
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-3"> 
                    <label for="price" class="form-label">Price:</label>
                    <input id="price" class="form-control" type="text" name="listing[price]" placeholder="1200" required>
                    <div class="invalid-feedback">
                        Please mention price!
                    </div>
                </div>
                <div class="mb-3 col-md-4">
                    <label for="location" class="form-label">Location:</label>
                    <input id="location" class="form-control" type="text" name="listing[location]" placeholder="Jaipur,Rajastan" required> 
                    <div class="invalid-feedback">
                        Location is required.
                    </div>
                </div>  
            </div>
            <div class="mb-3 col-md-7">
                <label for="country" class="form-label">Country:</label>
                <input id="country"class="form-control" type="text" name="listing[country]" placeholder="India">
                <div class="invalid-feedback">
                   Please specify the country name.
                </div>
            </div>
       
            <button class="btn saveBtn">Submit</button>
    </form>
</div>
